* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.sub,
.par {
  margin-left: 6.9rem;
}

.sub {
  font-size: 3rem;
  margin-top: 5rem;
}

.sub2 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-left: 7rem;
}

.par {
  font-size: 2rem;
  text-align: justify;
  margin-right: 7rem;
  margin-top: 1.4rem;
}


.page {
  display: inherit;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.page {
  background-color: #242424;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  color: #fff;
}

@media screen and (max-width: 820px) {
  .page {
    height: 120%;
  }
  .par {
    margin-right: 2rem;
  }
  .sub, .sub2 {
    margin-right: 2rem;
  }
}
